@import "../variables";

* {
  box-sizing: border-box;
}

body {
  background-color: $uoc-masterbrand;
  min-height: 100vh;
  margin:0 20vw ;
  padding: 10vh 0;
}

.wrapper {
  display: grid;
  grid-gap: 1px;
  grid-template-rows: repeat(7);
  color: #444;
  min-height: 80vh;
  min-width: 450px;
}

.box {
  background-color: $backgroundColor;
  padding: 20px;
  font-size: 150%;
  .box {
  
    padding: 2px;
  }
}


.z {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 10fr;
}

.a {
  grid-column: 1;

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .a_foto {
    max-width: 100%;
    min-width: 120px;
    max-height: 100%;
    min-height: 126px;
    vertical-align:middle;
  }
}



.b {
  grid-column: 2;
  
  .b_titulo {
    font-size: 35px;
    padding-left: 10px;
    margin: 8px;
    color: $uoc-masterbrand;
  }

  .box_parrafo {
    margin: 1vw;
  }
  
}

.box_parrafo{
    font-size:calc(10px + 0.6vw);
  }

.c {
  grid-row: 3;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 4fr;
  font-size: 10px;

  .contenedor_icono {
    padding-left: 2vw;
  }

  .box_parrafo{
    margin-bottom: 0;
  }

  .box_subtitulo{
    margin-top: 0;
  }
}

.d{
  grid-column: 1;
  grid-row: 1;
}

.e {
  grid-column: 2;
  grid-row: 1;
}

.f {
  grid-column: 1;
  grid-row: 2;
}

.g {
  grid-column: 2;
  grid-row: 2;
}

.h {
  grid-row: 5;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: repeat(3);

  .contenedor_icono {
    padding-left: 2vw;
  }

  .contenedor_icono:nth-child(even) {
    padding-left: 0;
  }
}

.i {
  grid-column: 1;
  grid-row: 1;
}

.j {
  grid-column: 2;
  grid-row: 1;
}

.k {
  grid-column: 1;
  grid-row: 2;
}

.l {
  grid-column: 2;
  grid-row: 2;
}

.m {
  grid-column: 1;
  grid-row: 3;
}

.n {
  grid-column: 2;
  grid-row: 3;
}

.o {
  grid-row: 7;
  display: grid;
}

.box_titulo {
  margin-bottom: 0;
  font-size: calc(15px + 0.6vw);
  color: $backgroundColor;

  .box_titulo_exp{
    grid-row: 2;
  }

  .box_titulo_edu{
    grid-row: 4;
  }

  .box_titulo_comp{
    grid-row: 6;
  }
}

.fa{
  font-size: 22px;
}

.contenedor_icono{
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size:calc(10px + 0.6vw);
  gap: 8px;
}